---
apiVersion: v1
kind: Service
metadata:
  name: zookeeper-headless
  namespace: kafka
  labels:
    app: zookeeper
    component: messaging
spec:
  type: ClusterIP
  clusterIP: None
  publishNotReadyAddresses: true
  ports:
  - port: 2181
    targetPort: 2181
    protocol: TCP
    name: client
  - port: 2888
    targetPort: 2888
    protocol: TCP
    name: follower
  - port: 3888
    targetPort: 3888
    protocol: TCP
    name: election
  selector:
    app: zookeeper

---
apiVersion: v1
kind: Service
metadata:
  name: zookeeper
  namespace: kafka
  labels:
    app: zookeeper
    component: messaging
spec:
  type: ClusterIP
  ports:
  - port: 2181
    targetPort: 2181
    protocol: TCP
    name: client
  selector:
    app: zookeeper

---
apiVersion: v1
kind: Service
metadata:
  name: zookeeper-metrics
  namespace: kafka
  labels:
    app: zookeeper
    component: messaging
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "7070"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  ports:
  - port: 7070
    targetPort: 7070
    protocol: TCP
    name: metrics
  selector:
    app: zookeeper
